5. In your colab file, write a python program for the following:

  a. Input the string “Python” as a list of characters from console, delete at least 2
  characters, reversetheresultant string, and print it.

  Sample input:
  
  •python
  
  Sample output:
  
  •htyp

In [ ]:
input_string = input("Enter the string: ")

char_list = list(input_string)

del char_list[-2:]  # Removes the last two characters

char_list.reverse()

output_string = ''.join(char_list)
print(output_string)

B. Take two numbers from user and perform at least 4 arithmetic operations on them.

In [ ]:
# Step 1:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Step 2:
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2 if num2 != 0 else "undefined (division by zero)"

# Step 3:
print(f"Addition: {num1} + {num2} = {addition}")
print(f"Subtraction: {num1} - {num2} = {subtraction}")
print(f"Multiplication: {num1} * {num2} = {multiplication}")
print(f"Division: {num1} / {num2} = {division}")

6 Write a program that accepts a sentence and replace each occurrence of
  ‘python’ with ‘pythons’.

  • Sample input:

  •I love playing with python

  • Sample output:

  •I love playing with pythons

In [ ]:
def replace_python(sentence):
    updated_sentence = sentence.replace('python', 'pythons')
    return updated_sentence

# Enter a sentence
input_sentence = input("Enter a sentence: ")

# user's input and store the result
result = replace_python(input_sentence)

# Print the updated sentence
print("Updated sentence:", result)

7. Use the if statement conditions to write a program to print the letter grade based on
an input class score. Use the grading scheme we are using in this class.

In [ ]:
score = float(input("Enter the class score (0-100): "))

# letter grade using if-elif-else conditions
if 90 <= score <= 100:
    grade = "A"
elif 80 <= score < 90:
    grade = "B"
elif 70 <= score < 80:
    grade = "C"
elif 60 <= score < 70:
    grade = "D"
elif 0 <= score < 60:
    grade = "F"
else:
    grade = "Invalid score"

print(f"The letter grade for the score {score} is {grade}.")

8   Write a code that appends the type of elements from a given list.
   
   Input
   
   x = [23, ‘Python’, 23.98]
   
   Expected output
   
   [23, 'Python', 23.98]
   
   [<class 'int'>, <class 'str'>, <class 'float'>]

In [ ]:
x = [23, 'Python', 23.98]

print(x)

# Create an empty list
types_list = []

# Loop through each element
for element in x:
    types_list.append(type(element))

print(types_list)

9 IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle',
'Amazon'}
    
  A = {19, 22, 24, 20, 25, 26}
    
  B = {19, 22, 20, 25, 26, 24, 28, 27}
    
  age = [22, 19, 24, 25, 26, 24, 25, 24]

In [ ]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print("Length of IT_companies:", len(IT_companies))

IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)

IT_companies.update(['Samsung', 'Intel', 'Cisco'])
print("After adding more companies:", IT_companies)

IT_companies.remove('Oracle')
print("After removing Oracle:", IT_companies)

print("A union B:", A | B)

print("A intersection B:", A & B)

print("Is A a subset of B:", A <= B)

print("Are A and B disjoint:", A.isdisjoint(B))

print("Symmetric difference:", A ^ B)

age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))